* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
body {
    width: 1100px;
}
header {
    background-color: deeppink;
}
nav {
    background-color: hotpink;
}
aside {
    background-color: aquamarine;
    padding: 5px;
}
main {
    background-color: forestgreen;
    padding: 5px;
}
section {
    background-color: rgb(204, 170, 35);
    padding: 5px;
    margin: 5px;
}
article {
    background-color: crimson;
    padding: 5px;
    margin: 5px;
}
figcaption {
    background-color: lightsteelblue;
}
figure {
    background-color: chocolate;
    padding: 5px;
}
footer {
    background-color: blueviolet;
    clear: both;
    padding: 2px;
}
#lewa {
    float: left;
    width: 335px;
    height: 350px;
}
#srodek {
    float: left;
    width: 400px;
    height: 350px;
}
#prawa {
    float: left;
    width: 335px;
    height: 350px;
}
.gora {
    padding: 2px;
}
