html {
    background-color: #d3d3d3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}
body {
    width: 1200px;
    margin: 0 auto;
}
.obr1 {
    float: right;
    margin-left: 15px;
}
.nagl {
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
}
.lewa {
    background-color: cornflowerblue;
    float: left;
    width: 150px;
    height: 300px;
}
.srod {
    background-color: lightcoral;
    float: left;
    width: 900px;
    height: 300px;
}
.prawa {
    background-color: lightgreen;
    float: right;
    width: 150px;
    height: 300px;    
}
.stopka {
    padding: 12.5px;
    background-color: hotpink;
    text-align: center;
    clear: both;    
}